[submodule "3rdparty/avdecc"]
	path = 3rdparty/avdecc
	url = https://github.com/L-Acoustics/avdecc.git 
[submodule "3rdparty/discount"]
	path = 3rdparty/discount
	url = https://github.com/christophe-calmejane/discount.git
[submodule "3rdparty/sparkleHelper"]
	path = 3rdparty/sparkleHelper
	url = https://github.com/christophe-calmejane/sparkleHelper.git
[submodule "Docker/dockerHelper"]
	path = Docker/dockerHelper
	url = https://github.com/christophe-calmejane/dockerHelper.git
