# This is a sample configuration file for Hive Installer build
# Rename this file to .hive_config

################ Signing
# Signing identity to be used, defaults to "-" which let Xcode autodetect appropriate signing identity
identity=-

# Windows signtool SHA1 URL (defaults to http://timestamp.digicert.com)
#signtool_sha1_url=http://timestamp.digicert.com

# Windows signtool SHA256 URL (defaults to http://timestamp.digicert.com)
#signtool_sha256_url=http://timestamp.digicert.com

################ Automatic check for update
# Appcast URL for Hive Releases - Only use https URLs (except for debugging when using localhost)
appcast_releases=https://www.kikisoft.com/Hive/appcast-release.xml

# Appcast URL for Hive Betas - Only use https URLs (except for debugging when using localhost)
appcast_betas=https://www.kikisoft.com/Hive/appcast-beta.xml

################ Debug Symbols
# Windows symstore.exe location (cygwin, mixed or windows path style ; Don't use quotes) - Can be a network path
#symbols_symstore_path=c:/Program Files (x86)/Windows Kits/10/Debuggers/x86/symstore.exe

# Windows Symbols Server location (cygwin, mixed or windows path style ; Don't use quotes) - Can be a network path
#symbols_windows_pdb_server_path=\\\\sambaServer\\sambaShare\\full\\path

# MacOS Symbols Server location (unix path style ; Don't use quotes)
#symbols_macos_dsym_server_path=/full/path
